    .content-wrapper
    {
      margin-left: 70px !important;
    }
    .btn-sq-lg {
      width: 150px !important;
      height: 150px !important;
    }

    .btn-sq {
      width: 100px !important;
      height: 100px !important;
      font-size: 10px;
    }

    .btn-sq-sm {
      width: 75px !important;
      height: 75px !important;
      font-size: 10px;
    }

    .btn-sq-xs {
      width: 25px !important;
      height: 25px !important;
      padding:2px;
    }

    .btn-square-md {
      width: 80px !important;
      max-width: 80% !important;
      max-height: 80% !important;
      height: 80px !important;
      text-align: center;
      padding: 0px;
      font-size:9px;
      align-content: center;
      margin-top: 8px;
      margin-right: 4px;
      margin-left: 4px;
    }

    .swal2-container {
      zoom: 1.5;
    }

    .form-rounded {
      border-radius: 1rem;
    }


    @import url('https://fonts.googleapis.com/css?family=Roboto');

    body{

      justify-content:center;
      align-items:center;
      font-family: 'Roboto', sans-serif;
    }

    h2{
      margin:0px;
      text-transform: uppercase;
    }

    h6{
      margin:0px;
      color:#777;
    }

    .tab_wrapper{
      text-align:center;

    }

    .tabs{
      margin-top:15px;
      font-size:15px;
      padding:0px;
      list-style:none;
      background:#fff;
      box-shadow:0px 5px 20px rgba(0,0,0,0.1);
      display:inline-block;
      border-radius:10px;
      position:relative;
    }

    .tabs a{
      text-decoration:none;
      color: #777;
      text-transform:uppercase;
      padding:10px 20px;
      display:inline-block;
      position:relative;
      z-index:1;
      transition-duration:0.6s;
    }

    .tabs a.active{
      color:#fff;
    }

    .tabs a i{
      margin-right:5px;
    }

    .tabs .selector{
      height:100%;
      display:inline-block;
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      border-radius:10px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #05abe0;
      background: -moz-linear-gradient(45deg, #05abe0 0%, #605ca8 100%);
      background: -webkit-linear-gradient(45deg, #05abe0 0%,#605ca8 100%);
      background: linear-gradient(45deg, #05abe0 0%,#605ca8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#605ca8',GradientType=1 );
    }

    .tabs .selector2{
      height:100%;
      display:inline-block;
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      border-radius:10px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #ffc107;
      background: -moz-linear-gradient(45deg, #fd7e14 0%, #ffc107 100%);
      background: -webkit-linear-gradient(45deg, #fd7e14 0%,#ffc107 100%);
      background: linear-gradient(45deg, #fd7e14 0%,#ffc107 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7e14', endColorstr='#ffc107',GradientType=1 );
    }

    .tabs .selector3{
      height:100%;
      display:inline-block;
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      border-radius:10px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #4232a8;
      background: -moz-linear-gradient(45deg, #4232a8 0%, #9e97cc 100%);
      background: -webkit-linear-gradient(45deg, #4232a8 0%,#9e97cc 100%);
      background: linear-gradient(45deg, #4232a8 0%,#9e97cc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4232a8', endColorstr='#9e97cc',GradientType=1 );
    }

    .tabs .selector4{
      height:100%;
      display:inline-block;
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      border-radius:10px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #12f202;
      background-color: #12f202;
      background: -moz-linear-gradient(45deg, #12f202 0%, #019115 100%);
      background: -webkit-linear-gradient(45deg, #12f202 0%,#019115 100%);
      background: linear-gradient(45deg, #12f202 0%,#019115 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12f202', endColorstr='#019115',GradientType=1 );
    }

    .tabs .selector5{
      height:100%;
      display:inline-block;
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      border-radius:10px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #f00000;
      background-color: #f00000;
      background: -moz-linear-gradient(45deg, #7d0000 0%, #f00000 100%);
      background: -webkit-linear-gradient(45deg, #7d0000 0%,#f00000 100%);
      background: linear-gradient(45deg, #7d0000 0%,#f00000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0000', endColorstr='#f00000',GradientType=1 );
    }

    .navbar-gradient{
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #605ca8;
      background: -moz-linear-gradient(45deg, #605ca8 0%, #05abe0 100%);
      background: -webkit-linear-gradient(45deg, #605ca8 0%,#05abe0 100%);
      background: linear-gradient(45deg, #605ca8 0%,#05abe0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605ca8', endColorstr='#05abe0',GradientType=1 );
    }

    .navbar-gradient-vice-versa{
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #05abe0;
      background: -moz-linear-gradient(45deg, #05abe0 0%, #605ca8 100%);
      background: -webkit-linear-gradient(45deg, #05abe0 0%,#605ca8 100%);
      background: linear-gradient(45deg, #05abe0 0%,#605ca8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#605ca8',GradientType=1 );
    }

    .gradient-red {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #f00000;
      background-color: #f00000;
      background: -moz-linear-gradient(45deg, #7d0000 0%, #f00000 100%);
      background: -webkit-linear-gradient(45deg, #7d0000 0%,#f00000 100%);
      background: linear-gradient(45deg, #7d0000 0%,#f00000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0000', endColorstr='#f00000',GradientType=1 );
    }

    .gradient-orange {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #ffc107;
      background-color: #ffc107;
      background: -moz-linear-gradient(45deg, #fd7e14 0%, #ffc107 100%);
      background: -webkit-linear-gradient(45deg, #fd7e14 0%,#ffc107 100%);
      background: linear-gradient(45deg, #fd7e14 0%,#ffc107 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58002', endColorstr='#ffc107',GradientType=1 );
    }

    .gradient-yellow {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #fc401e;
      background-color: #fc401e;
      background: -moz-linear-gradient(45deg, #ffc107 0%, #fc401e 100%);
      background: -webkit-linear-gradient(45deg, #ffc107 0%,#fc401e 100%);
      background: linear-gradient(45deg, #ffc107 0%,#fc401e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58002', endColorstr='#fc401e',GradientType=1 );
    }

    .gradient-teal {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #fc401e;
      background-color: #fc401e;
      background: -moz-linear-gradient(45deg, #20c997 0%, #00735f 100%);
      background: -webkit-linear-gradient(45deg, #20c997 0%,#00735f 100%);
      background: linear-gradient(45deg, #20c997 0%,#00735f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58002', endColorstr='#00735f',GradientType=1 );
    }

    .gradient-blue {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #03cdff;
      background-color: #03cdff;
      background: -moz-linear-gradient(45deg, #03cdff 0%, #7d03ff 100%);
      background: -webkit-linear-gradient(45deg, #03cdff 0%,#7d03ff 100%);
      background: linear-gradient(45deg, #03cdff 0%,#7d03ff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03cdff', endColorstr='#7d03ff',GradientType=1 );
    }

    .gradient-green {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #12f202;
      background-color: #12f202;
      background: -moz-linear-gradient(45deg, #12f202 0%, #019115 100%);
      background: -webkit-linear-gradient(45deg, #12f202 0%,#019115 100%);
      background: linear-gradient(45deg, #12f202 0%,#019115 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12f202', endColorstr='#019115',GradientType=1 );
    }

    .gradient-purple {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #4232a8;
      background-color: #4232a8;
      background: -moz-linear-gradient(45deg, #4232a8 0%, #9e97cc 100%);
      background: -webkit-linear-gradient(45deg, #4232a8 0%,#9e97cc 100%);
      background: linear-gradient(45deg, #4232a8 0%,#9e97cc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4232a8', endColorstr='#9e97cc',GradientType=1 );
    }

    .gradient-black {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #000000;
      background-color: #000000;
      background: -moz-linear-gradient(45deg, #000000 0%, #b3b1b1 100%);
      background: -webkit-linear-gradient(45deg, #000000 0%,#b3b1b1 100%);
      background: linear-gradient(45deg, #000000 0%,#b3b1b1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b3b1b1',GradientType=1 );
    }

    .gradient-gray {
      border-radius:5px;
      transition-duration:0.6s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      background: #8c8b8b;
      background-color: #8c8b8b;
      background: -moz-linear-gradient(45deg, #8c8b8b 0%, #525151 100%);
      background: -webkit-linear-gradient(45deg, #8c8b8b 0%,#525151 100%);
      background: linear-gradient(45deg, #8c8b8b 0%,#525151 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8b8b', endColorstr='#525151',GradientType=1 );
    }


    tfoot {
      display: table-row-group;
    }